<a href="https://colab.research.google.com/github/vishalpoonacha/Techwarts_Olympic-Dataset/blob/main/2021_OLYMPICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
athletes=pd.read_excel('/content/Athletes.xlsx')
coaches=pd.read_excel('/content/Coaches.xlsx')
entriesGender=pd.read_excel('/content/EntriesGender.xlsx')
medals=pd.read_excel('/content/Medals.xlsx')
teams=pd.read_excel('/content/Teams.xlsx')
athletes

                        Name      NOC           Discipline
0            AALERUD Katrine   Norway         Cycling Road
1                ABAD Nestor    Spain  Artistic Gymnastics
2          ABAGNALE Giovanni    Italy               Rowing
3             ABALDE Alberto    Spain           Basketball
4              ABALDE Tamara    Spain           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  Germany               Hockey
11081      ZWOLINSKA Klaudia   Poland         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   Poland              Archery

[11085 rows x 3 columns]

In [ ]:
nan_values=athletes.isna()
nan_columns=nan_values.any()
nan_columns

Name          False
NOC           False
Discipline    False
dtype: bool

In [ ]:
nan_values=coaches.isna()
nan_columns=nan_values.any()
nan_columns

Name          False
NOC           False
Discipline    False
Event          True
dtype: bool

In [ ]:
coaches['Event'].fillna("No Event", inplace = True)
coaches

                       Name  ...     Event
0           ABDELMAGID Wael  ...  No Event
1                 ABE Junya  ...  No Event
2             ABE Katsuhiko  ...  No Event
3              ADAMA Cherif  ...  No Event
4                AGEBA Yuya  ...  No Event
..                      ...  ...       ...
389  ZAMORA PEDREIRA Javier  ...  No Event
390      ZAMPIERI Francesca  ...      Duet
391          ZHANG Xiaohuan  ...  No Event
392              ZIJP Simon  ...  No Event
393           ZONDI Nkuliso  ...     Women

[394 rows x 4 columns]

In [ ]:
nan_values=entriesGender.isna()
nan_columns=nan_values.any()
nan_columns

Discipline    False
Female        False
Male          False
Total         False
dtype: bool

In [ ]:
nan_values=medals.isna()
nan_columns=nan_values.any()
nan_columns

Rank             False
Team/NOC         False
Gold             False
Silver           False
Bronze           False
Total            False
Rank by Total    False
dtype: bool

In [ ]:
nan_values=teams.isna()
nan_columns=nan_values.any()
nan_columns

Name          False
Discipline    False
NOC           False
Event         False
dtype: bool

In [ ]:
athletes['NOC'] = athletes['NOC'].str.upper()
athletes

                        Name      NOC           Discipline
0            AALERUD Katrine   NORWAY         Cycling Road
1                ABAD Nestor    SPAIN  Artistic Gymnastics
2          ABAGNALE Giovanni    ITALY               Rowing
3             ABALDE Alberto    SPAIN           Basketball
4              ABALDE Tamara    SPAIN           Basketball
...                      ...      ...                  ...
11080  ZWICKER Martin Detlef  GERMANY               Hockey
11081      ZWOLINSKA Klaudia   POLAND         Canoe Slalom
11082           ZYKOVA Yulia      ROC             Shooting
11083      ZYUZINA Ekaterina      ROC              Sailing
11084        ZYZANSKA Sylwia   POLAND              Archery

[11085 rows x 3 columns]

In [ ]:
coaches['NOC'] = coaches['NOC'].str.upper()
coaches

                       Name  ...     Event
0           ABDELMAGID Wael  ...  No Event
1                 ABE Junya  ...  No Event
2             ABE Katsuhiko  ...  No Event
3              ADAMA Cherif  ...  No Event
4                AGEBA Yuya  ...  No Event
..                      ...  ...       ...
389  ZAMORA PEDREIRA Javier  ...  No Event
390      ZAMPIERI Francesca  ...      Duet
391          ZHANG Xiaohuan  ...  No Event
392              ZIJP Simon  ...  No Event
393           ZONDI Nkuliso  ...     Women

[394 rows x 4 columns]

In [ ]:
medals['Team/NOC'] = medals['Team/NOC'].str.upper()
medals

    Rank                    Team/NOC  Gold  ...  Bronze  Total  Rank by Total
0      1    UNITED STATES OF AMERICA    39  ...      33    113              1
1      2  PEOPLE'S REPUBLIC OF CHINA    38  ...      18     88              2
2      3                       JAPAN    27  ...      17     58              5
3      4               GREAT BRITAIN    22  ...      22     65              4
4      5                         ROC    20  ...      23     71              3
..   ...                         ...   ...  ...     ...    ...            ...
88    86                       GHANA     0  ...       1      1             77
89    86                     GRENADA     0  ...       1      1             77
90    86                      KUWAIT     0  ...       1      1             77
91    86         REPUBLIC OF MOLDOVA     0  ...       1      1             77
92    86        SYRIAN ARAB REPUBLIC     0  ...       1      1             77

[93 rows x 7 columns]

In [ ]:
teams['NOC'] = teams['NOC'].str.upper()
teams

              Name      Discipline                         NOC  Event
0          Belgium  3x3 Basketball                     BELGIUM    Men
1            China  3x3 Basketball  PEOPLE'S REPUBLIC OF CHINA    Men
2            China  3x3 Basketball  PEOPLE'S REPUBLIC OF CHINA  Women
3           France  3x3 Basketball                      FRANCE  Women
4            Italy  3x3 Basketball                       ITALY  Women
..             ...             ...                         ...    ...
738   South Africa      Water Polo                SOUTH AFRICA  Women
739          Spain      Water Polo                       SPAIN    Men
740          Spain      Water Polo                       SPAIN  Women
741  United States      Water Polo    UNITED STATES OF AMERICA    Men
742  United States      Water Polo    UNITED STATES OF AMERICA  Women

[743 rows x 4 columns]

In [ ]:
population=pd.read_excel('/content/Population data Assignment 1 Predict This.xlsx')
population

          Country  Population  Independence year  Annual Sports Budget
0             USA   328200000               1776                   NaN
1           China  1390000000               1949                   NaN
2           Japan   126300000                660                   NaN
3   Great Britain    66600000               1776                   NaN
4    Russia (ROC)   144400000               1990                   NaN
5       Australia    25400000               1901                   NaN
6     Netherlands    17300000               1648                   NaN
7          France    67100000               1789                   NaN
8         Germany    83000000               1871                   NaN
9           Italy    60400000               1848                   NaN
10         Canada    37600000               1867                   NaN
11         Brazil   211000000               1822                   NaN
12    New Zealand     4920000               1835                   NaN
13           Cuba    11300000               1898                   NaN
14        Hungary     9770000               1849                   NaN

In [ ]:
population.to_csv ("population.csv", 
                  index = None,
                  header=True)
Population = pd.DataFrame(pd.read_csv("population.csv"))
Population

          Country  Population  Independence year  Annual Sports Budget
0             USA   328200000               1776                   NaN
1           China  1390000000               1949                   NaN
2           Japan   126300000                660                   NaN
3   Great Britain    66600000               1776                   NaN
4    Russia (ROC)   144400000               1990                   NaN
5       Australia    25400000               1901                   NaN
6     Netherlands    17300000               1648                   NaN
7          France    67100000               1789                   NaN
8         Germany    83000000               1871                   NaN
9           Italy    60400000               1848                   NaN
10         Canada    37600000               1867                   NaN
11         Brazil   211000000               1822                   NaN
12    New Zealand     4920000               1835                   NaN
13           Cuba    11300000               1898                   NaN
14        Hungary     9770000               1849                   NaN

In [ ]:
Population.rename(columns={'Country': 'Team/NOC'}, inplace=True)
Population

         Team/NOC  Population  Independence year  Annual Sports Budget
0             USA   328200000               1776                   NaN
1           China  1390000000               1949                   NaN
2           Japan   126300000                660                   NaN
3   Great Britain    66600000               1776                   NaN
4    Russia (ROC)   144400000               1990                   NaN
5       Australia    25400000               1901                   NaN
6     Netherlands    17300000               1648                   NaN
7          France    67100000               1789                   NaN
8         Germany    83000000               1871                   NaN
9           Italy    60400000               1848                   NaN
10         Canada    37600000               1867                   NaN
11         Brazil   211000000               1822                   NaN
12    New Zealand     4920000               1835                   NaN
13           Cuba    11300000               1898                   NaN
14        Hungary     9770000               1849                   NaN

In [ ]:
Population['Team/NOC'] = Population['Team/NOC'].str.upper()
Population

         Team/NOC  Population  Independence year  Annual Sports Budget
0             USA   328200000               1776                   NaN
1           CHINA  1390000000               1949                   NaN
2           JAPAN   126300000                660                   NaN
3   GREAT BRITAIN    66600000               1776                   NaN
4    RUSSIA (ROC)   144400000               1990                   NaN
5       AUSTRALIA    25400000               1901                   NaN
6     NETHERLANDS    17300000               1648                   NaN
7          FRANCE    67100000               1789                   NaN
8         GERMANY    83000000               1871                   NaN
9           ITALY    60400000               1848                   NaN
10         CANADA    37600000               1867                   NaN
11         BRAZIL   211000000               1822                   NaN
12    NEW ZEALAND     4920000               1835                   NaN
13           CUBA    11300000               1898                   NaN
14        HUNGARY     9770000               1849                   NaN

In [ ]:
medals["Team/NOC"].replace({'UNITED STATES OF AMERICA': 'USA','ROC':'RUSSIA(ROC)',"PEOPLE'S REPUBLIC OF CHINA":'CHINA'}, inplace=True)
medals

    Rank              Team/NOC  Gold  Silver  Bronze  Total  Rank by Total
0      1                   USA    39      41      33    113              1
1      2                 CHINA    38      32      18     88              2
2      3                 JAPAN    27      14      17     58              5
3      4         GREAT BRITAIN    22      21      22     65              4
4      5           RUSSIA(ROC)    20      28      23     71              3
..   ...                   ...   ...     ...     ...    ...            ...
88    86                 GHANA     0       0       1      1             77
89    86               GRENADA     0       0       1      1             77
90    86                KUWAIT     0       0       1      1             77
91    86   REPUBLIC OF MOLDOVA     0       0       1      1             77
92    86  SYRIAN ARAB REPUBLIC     0       0       1      1             77

[93 rows x 7 columns]

In [ ]:
medals_population=pd.merge(medals,Population,on="Team/NOC")
medals_population

    Rank       Team/NOC  ...  Independence year  Annual Sports Budget
0      1            USA  ...               1776                   NaN
1      2          CHINA  ...               1949                   NaN
2      3          JAPAN  ...                660                   NaN
3      4  GREAT BRITAIN  ...               1776                   NaN
4      6      AUSTRALIA  ...               1901                   NaN
5      7    NETHERLANDS  ...               1648                   NaN
6      8         FRANCE  ...               1789                   NaN
7      9        GERMANY  ...               1871                   NaN
8     10          ITALY  ...               1848                   NaN
9     11         CANADA  ...               1867                   NaN
10    12         BRAZIL  ...               1822                   NaN
11    13    NEW ZEALAND  ...               1835                   NaN
12    14           CUBA  ...               1898                   NaN
13    15        HUNGARY  ...               1849                   NaN

[14 rows x 10 columns]

In [ ]:
import plotly.express as px
fig = px.scatter(medals_population, x="Gold", y="Population", color='Team/NOC')
fig.show()

In [ ]:
import plotly.express as px
fig = px.scatter(medals_population, x="Silver", y="Population", color='Team/NOC')
fig.show()

In [ ]:
import plotly.express as px
fig = px.scatter(medals_population, x="Bronze", y="Population", color='Team/NOC')
fig.show()

In [ ]:
import plotly.express as px
fig = px.scatter(medals_population, x="Total", y="Population", color='Team/NOC')
fig.show()

In [ ]:
medals_population['Years of Independence'] = medals_population['Independence year'].map(lambda x: 2021 - x)
medals_population.head(20)

    Rank       Team/NOC  ...  Annual Sports Budget  Years of Independence
0      1            USA  ...                   NaN                    245
1      2          CHINA  ...                   NaN                     72
2      3          JAPAN  ...                   NaN                   1361
3      4  GREAT BRITAIN  ...                   NaN                    245
4      6      AUSTRALIA  ...                   NaN                    120
5      7    NETHERLANDS  ...                   NaN                    373
6      8         FRANCE  ...                   NaN                    232
7      9        GERMANY  ...                   NaN                    150
8     10          ITALY  ...                   NaN                    173
9     11         CANADA  ...                   NaN                    154
10    12         BRAZIL  ...                   NaN                    199
11    13    NEW ZEALAND  ...                   NaN                    186
12    14           CUBA  ...                   NaN                    123
13    15        HUNGARY  ...                   NaN                    172

[14 rows x 11 columns]

In [ ]:
import plotly.express as px
fig = px.scatter(medals_population, x="Gold", y="Years of Independence", color='Team/NOC')
fig.show()

In [ ]:
entriesGender['Highest Divide'] = entriesGender.apply(lambda x: x['Male'] - x['Female'], axis = 1)

In [ ]:
entriesGender_s = entriesGender.sort_values(by = 'Highest Divide', ascending = False)
entriesGender_s.head()

      Discipline  Female  Male  Total  Highest Divide
4      Athletics     969  1072   2041             103
45     Wrestling      96   193    289              97
9         Boxing     102   187    289              85
20      Football     264   344    608              80
15  Cycling Road      70   131    201              61

In [ ]:
entriesGender_s[0:4]

   Discipline  Female  Male  Total  Highest Divide
4   Athletics     969  1072   2041             103
45  Wrestling      96   193    289              97
9      Boxing     102   187    289              85
20   Football     264   344    608              80